@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');
* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
}

header {
    width: 86%;
    background-color: #4b5a65;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5% 7%;
}

.div_barra_nav {
    width: 30%;
}

.div_barra_nav ul {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: 'Urbanist', sans-serif;
    /*font-family: 'Work Sans', sans-serif;*/
    font-size: 15px;
    color: #d9dcdd;
}

.div_barra_nav ul li:first-child {
    padding: 2px 18px;
    border-bottom: rgb(113, 113, 113) 1px solid;
    box-shadow: inset 0px 2px 4px rgb(63, 63, 63);
    border-radius: 50px;
    background-color: #3e4850;
}

.div_banner {
    padding: 1.5% 7% 0%;
    background-color: #4b5a65;
    display: flex;
    justify-content: space-between;
}

.div_banner_img {
    width: 50%;
    display: flex;
    justify-content: left;
}

.div_banner_text {
    width: 50%;
    font-family: 'Urbanist', sans-serif;
    color: #d9dcdd;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
}

.div_banner_text h1 {
    font-size: 62px;
}

.bannerparagraph {
    color: #d9dcdd;
    margin: 2% 0;
    width: 67%;
    font-size: 18px;
}

.bannerparagraph p:nth-child(2) {
    margin: 3% 0;
    color: grey;
}

.btnbanner {
    font-size: 16px;
    color: #d9dcdd;
    background-color: #3b91d0;
    padding: 2% 8%;
    border-radius: 50px;
    border: #2773aa;
    border-top: rgb(85, 173, 224) 2px solid;
    box-shadow: 0px 10px 11px rgb(63, 63, 63);
}

.btnbanner p {
    text-shadow: 0px -1px 2px rgb(63, 63, 63);
}

.bannerlinks {
    margin-top: 5%;
    color: #d9dcdd;
    font-size: 18px;
    width: 56%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bannerlinks a {
    text-decoration: #d9dcdd;
    border-bottom: #d9dcdd 1px solid;
}