@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');
* {
    padding: 0;
    margin: 0;
}

h1,h2,h3,p,a,ul{
    font-family:'Urbanist', sans-serif;
}

body {
    width: 100%;
}

header {
    width: 86%;
    background-color: #4b5a65;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5% 7%;
}

nav {
    width: 30%;
}

.barra_nav {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /*font-family: 'Work Sans', sans-serif;*/
    font-size: 15px;
    color: #d9dcdd;
}

li{
    display: flex;
    align-items: center;
}

nav .barra_nav li:first-child {
    padding: 2px 18px;
    border-bottom: rgb(113, 113, 113) 1px solid;
    box-shadow: inset 0px 2px 4px rgb(63, 63, 63);
    border-radius: 50px;
    background-color: #3e4850;
}

.div_banner {
    padding: 1.5% 7% 0%;
    background-color: #4b5a65;
    display: flex;
    justify-content: space-between;
}

.div_banner_img {
    width: 50%;
    display: flex;
    justify-content: center;
}

.div_banner_text {
    width: 50%;
    color: #d9dcdd;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    justify-content: center;
}

.div_banner_text h1 {
    font-size: 62px;
}

.bannerparagraph {
    color: #d9dcdd;
    margin: 2% 0;
    width: 67%;
    font-size: 18px;
}

.bannerparagraph p:nth-child(2) {
    margin: 3% 0;
    color: grey;
}

.btnbanner {
    font-size: 16px;
    color: #d9dcdd;
    background-color: #3b91d0;
    padding: 2% 8%;
    border-radius: 50px;
    border: #2773aa;
    border-top: rgb(85, 173, 224) 2px solid;
    box-shadow: 0px 10px 11px rgb(63, 63, 63);
}

.btnbanner p {
    text-shadow: 0px -1px 2px rgb(63, 63, 63);
}

.bannerlinks {
    margin-top: 5%;
    color: #d9dcdd;
    font-size: 18px;
    width: 56%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bannerlinks a {
    text-decoration: #d9dcdd;
    border-bottom: #d9dcdd 1px solid;
}


/*----------------*/


/* Inicio Barra de navegación/Servicios */


.div_navegacion{
    background-color: #ebebeb;
    width: 86%;
    padding: 0.5% 7%;
}


/* Fin Barra de navegación/Servicios */

/*----------------*/

/* Inicio Sección de información */


.cont_info_grid{
    width: 100%;
    display: flex;
    justify-content: center;
}

.info_grid{
    margin: 6%;
    width: 80%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 32% 6% 22% 40%;
}

.info_grid div{
    text-align: center;
}

.info_grid .img_info{
    margin-bottom: 6%;
}

.info_grid h2{
    color: #8395a2;
    margin-bottom: 2%;
}

.info_grid p{
    color: grey;
}

.div_btn_info a{
    padding: 3% 6%;
    background-color: #3b91d0;
    color: #ebebeb;
    border-radius: 4px;
    border:rgb(85, 173, 224);
    border-top: rgb(85, 173, 224) 3px solid;
    text-shadow: 0px -1px 2px rgb(63, 63, 63);
    box-shadow: 0px 1px 2px rgb(63, 63, 63);
}

.div_btn_info{
    margin-top:11%;
}


/* Fin Sección de información */

/*----------------*/

/* Inicio de sección proyectos seleccionados */


.cont_selected_projects{
    display: flex;
    align-items: center;
    justify-content: center;
}

.selected_projects_grid{
    width: 80%;
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    grid-template-rows: 30% 70%;
}

.selected_projects_grid .gridImage{
    height:100%;
	width:100%;
	object-fit:cover;
	object-position:center;
    border: white solid 4px;
    box-shadow: 0px 2px 2px rgb(63, 63, 63);
}

.Secondrow{
    grid-row: 2/3;
    margin: 7% 7%;
}


/* Fin de sección proyectos seleccionados*/

/*----------------*/

/* Inicio  footer */

